<div class="myContainer d-flex">
    <div class="d-flex flex-column">
        <h3 class="filterContainer">Filter</h3>
        <div class="filterContainer">
            <div class="filterName">
                <b>Noses</b>
            </div>
            <div class="form-check" *ngFor="let nose of noses">
                <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{nose}}
                </label>
            </div>
        </div>
        <div class="filterContainer">
            <div class="filterName">
                <b>Eyes</b>
            </div>
            <div class="form-check" *ngFor="let eyes of eyes">
                <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{eyes}}
                </label>
            </div>
        </div>
        <div class="filterContainer">
            <div class="filterName">
                <b>Mouth</b>
            </div>
            <div class="form-check" *ngFor="let mouth of mouths">
                <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{mouth}}
                </label>
            </div>
        </div>
        <div class="filterContainer">
            <div class="filterName">
                <b>Skin</b>
            </div>
            <div class="form-check" *ngFor="let skin of skins">
                <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{skin}}
                </label>
            </div>
        </div>
        <div class="filterContainer">
            <div class="filterName">
                <b>Background Colour</b>
            </div>
            <div class="form-check" *ngFor="let background of backgrounds">
                <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{background}}
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 border d-flex" *ngFor="let nft of nfts" [routerLink]="['/sellNFT',{id:nft.name}]">
            <div class="containers flex-fill">
                <img src="assets/{{nft.image}}" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">
                        <button type="button" class="btn btn-outline-dark"
                            [routerLink]="['/sellNFT',{id:nft.name}]">Show details</button>
                    </div>
                </div>
            </div>
            <div class="infoContainer flex-fill">
                <div class="infoNFT">
                    <div class="name">
                        {{nft.name | titlecase}} - {{nft.description}}
                    </div>
                </div>
                <div class="infoNFT">
                    <div class="prevousOwners">Previous Owners: 5</div>
                </div> <br>
                <div class="infoNFT">
                    <div class="rarity">
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                        <span class="material-symbols-outlined">
                            star
                        </span>
                    </div>
                </div>
                <div class="infoNFT">
                    <div class="rarity"><b>Rarity:</b> {{nft.attributes.rarity * 100}}%</div>
                </div> <br>
                <div class="infoNFT">
                    <div class="price">
                        <b>ZAR {{10000 - (nft.attributes.rarity * 100 * 100)}}.00</b>
                    </div>
                </div>
                <div class="infoNFT">
                    <span class="badge rounded-pill text-bg-primary">Background: {{nft.attributes.background}}</span>
                    <span class="badge rounded-pill text-bg-success">Eyes: {{nft.attributes.eyes}}</span>
                    <span class="badge rounded-pill text-bg-danger">Nose: {{nft.attributes.nose}}</span>
                    <span class="badge rounded-pill text-bg-warning">Skin: {{nft.attributes.skinColour}}</span>
                    <span class="badge rounded-pill text-bg-info">Mouth: {{nft.attributes.mouth}}</span>
                </div>
            </div>
            <div class="buttonContainer flex-fill">
                <br> <br>
                <div class="border rounded p-1">
                    <span class="material-symbols-outlined icons">
                        favorite
                    </span>
                    Add to favourites
                </div>
                <br><br>
                <div class="border rounded p-1 cart">
                    <span class="material-symbols-outlined icons">
                        shopping_cart
                    </span>
                    Sell NFT
                </div>
            </div>
        </div>
    </div>
</div>