#logo {
    height: 60px;
    width: 100px;
}

.bodyContainer {
    // border: 2px solid red;
    position: relative;
    top: 86px;
}

li.nav-item.last {
    margin-top: 180%;
}

span.material-symbols-outlined.navIcons {
    position: relative;
    top: 7px;
}