.containerInner {
    height: 80vh;
}

.mintImage {
    height: 100%;
    width: 100%;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100cw;
    height: 100vh;
}