.loginContainer {
    position: relative;
    top: 10vh;
    width: 50vw;
    left: 28vw;
    padding: 5vw;
}

.border.align-items-center.justify-content-center {
    padding: 2vw;
}

img {
    width: 200px;
    position: relative;
    left: 184px;
}